html {
  height: 100%;
}

body {
  overflow: hidden;
  margin: auto;
  padding: 0;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  background-image: url("../img/background-login.png");
  height: 100%;
}

#main-container {
  margin-top: 40px;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

li {
  text-decoration: none;
  padding: 5px;
}

.chat-header {
  margin-top: 50px;
}

#chat-page {
  margin: 0;
  padding: 0;
  width: 90%;
  height: 100%;
  margin-top: 3%;
  margin-left: 1.5%;
}

.chat-container {
  height: 75%;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  padding: 30px;

  background-image: linear-gradient(
    to bottom,
    #ffffff,
    rgba(255, 255, 255, 0.696)
  );
  backdrop-filter: blur(10px);
  box-shadow: 10px 0px 30px rgb(114, 156, 255);
}

.input-group {
  text-align: center;
  margin-top: 20px;
}

.primary {
  background-color: rgb(114, 159, 255);
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.primary:hover {
  background-color: rgb(117, 86, 243);
}

#list-of-chats {
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;

  background-image: linear-gradient(
    to bottom,
    #ffffff,
    rgba(255, 255, 255, 0.696)
  );
  backdrop-filter: blur(10px);
  box-shadow: 10px 0px 30px rgb(114, 156, 255);
}

#chats-area {
  height: max-content;
  padding: 10px;
  background-color: #7a66dd17;
  margin: auto;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#chats-list {
  margin: auto;
  padding: 0px;
}

#search {
  display: flex;
  margin: auto;
  padding: 0px;
}

#search .circle img {
  height: 27px;
  width: 27px;
  margin: auto;
}

#main-chats-list {
  margin: auto;
  padding: 0px;
}

.circle {
  border-radius: 50%;
  background-color: rgb(114, 159, 255);
  width: 50px;
  height: 50px;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.circle:hover {
  border-radius: 15px;
  background-color: rgb(117, 86, 243);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 40%;
  overflow: auto;
  background-image: linear-gradient(
    to bottom,
    #ffffffc4,
    rgba(255, 255, 255, 0.393)
  );
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgb(253, 210, 232);
  border-radius: 10px;
}

.modal-content {
  padding: 30px;
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #00000000;
}

#close img {
  height: 30px;
  width: auto;
}

#closeModalAddUser {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

#name {
  padding: 10px;
  border: none;
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 90%;
}

#createChat {
  display: flex;
  background-color: rgb(255, 114, 215);
  border: 0;
  padding: 0;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#createChat:hover {
  border-radius: 15px;
  background-color: rgb(255, 131, 222);
  box-shadow: 0px 0px 10px rgb(235, 248, 255);
}

#createChat img {
  height: 27px;
  width: 27px;
  margin: auto;
}

.separator {
  background-color: #00000038;
  height: 3px;
  width: 100%;
  border-radius: 10px;
}

#messageForm {
  display: none;
}
#addUser {
  display: none;
}

#username {
  padding: 10px;
  border: none;
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 90%;
}

#welcome {
  margin: 0;
  padding: 0;
}

#giveName {
  margin-top: 10px;
}
