html {
  height: 100%;
}

body {
  overflow: hidden;
  margin: auto;
  padding: 0;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  background-image: url("../img/background-login.png");
  height: 100%;
}

#main-container {
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

li {
  text-decoration: none;
  padding: 5px;
}

#chat-page {
  margin: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
  padding: 0;
  width: 90%;
  height: max-content;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    rgba(255, 255, 255, 0.696)
  );
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 30px rgb(114, 156, 255);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 40%;
  overflow: auto;
  background-image: linear-gradient(
    to bottom,
    #ffffffc4,
    rgba(255, 255, 255, 0.393)
  );
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgb(253, 210, 232);
  border-radius: 10px;
}

.chat-container {
  height: 100%;
  margin: auto;
  border-radius: 10px;
  padding: 30px;
}

.input-group {
  text-align: center;
  margin-top: 20px;
}

.primary {
  background-color: rgb(114, 159, 255);
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.primary:hover {
  background-color: rgb(117, 86, 243);
}

#message {
  padding: 10px;
  border: none;
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 400px;
}

#messageArea {
  position: relative;
  list-style: none;
  height: 450px;
  overflow-y: auto;
  background-color: #ffffffd4;
  margin: auto;
  border-radius: 10px;
  padding: 0;
  margin-top: 20px;
}

#messageArea li {
  position: relative;
  height: min-content;
  width: 400px;
  background-color: rgb(231, 134, 218);
  margin: 10px;
  border-radius: 10px;
  float: right; /* добавляем это свойство */
  clear: both; /* добавляем это свойство для предотвращения наложения элементов */
}

#area {
  width: 100%;
  height: 400px;
  background-color: white;
}

#list-of-chats {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  height: 100%;
}

#chats-area {
  height: max-content;
  padding: 10px;
  background-color: #f4f4f4;
  margin: auto;
  border-radius: 10px;
  margin-top: 30px;
}

#chats-list {
  margin: auto;
  padding: 0px;
}

#search {
  margin: auto;
  padding: 0px;
}

#search .circle img {
  height: 20px;
  width: 20px;
}

#main-chats-list {
  margin: auto;
  padding: 0px;
}

.modal-content {
  padding: 30px;
}

#close {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

#closeModalAddUser {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

#name {
  padding: 10px;
  border: none;
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 90%;
}

#createChat {
  position: relative;
  background-color: rgb(171, 227, 115);
  border: 0;
  padding: 0;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  align-self: center;
}

#createChat img {
  height: 20px;
  width: 20px;

  align-self: center;
}

.separator {
  background-color: #00000038;
  height: 3px;
  width: 100%;
  border-radius: 10px;
}

#username {
  padding: 10px;
  border: none;
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 90%;
}

#welcome {
  margin: 0;
  padding: 0;
}

#addUser {
  position: relative;
  padding: 0;
  height: 42px;
  width: 42px;
}

#addUser img {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#searchMessage {
  position: relative;
  padding: 0;
  height: 42px;
  width: 42px;
}

#searchMessage img {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#writeName {
  margin-top: 10px;
}
