html {
  height: 100%;
}

body {
  overflow: hidden;
  margin: auto;
  padding: 0;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  background-image: url("../img/background-login.png");
  height: 100%;
}

#main-container {
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

li {
  text-decoration: none;
  padding: 5px;
}

#chat-page {
  margin: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
  padding: 0;
  width: 90%;
  height: max-content;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    rgba(255, 255, 255, 0.696)
  );
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 30px rgb(114, 156, 255);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 40%;
  overflow: auto;
  background-image: linear-gradient(
    to bottom,
    #ffffffc4,
    rgba(255, 255, 255, 0.393)
  );
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgb(253, 210, 232);
  border-radius: 10px;
}

.chat-container {
  height: 100%;
  margin: auto;
  border-radius: 10px;
  padding: 30px;
}

.input-group {
  text-align: center;
  margin-top: 20px;
}

.primary {
  background-color: rgb(114, 159, 255);
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.primary:hover {
  background-color: rgb(117, 86, 243);
}

#messageArea {
  position: relative;
  list-style: none;
  height: 450px;
  overflow-y: auto;
  background-color: #ffffffd4;
  margin: auto;
  border-radius: 10px;
  padding: 0;
  margin-top: 20px;
}

#messageArea li {
  position: relative;
  height: min-content;
  width: 400px;
  background-color: rgb(231, 134, 218);
  margin: 10px;
  border-radius: 10px;
  float: right;
  clear: both;
}

#area {
  width: 100%;
  height: 400px;
  background-color: white;
}

#list-of-chats {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  height: 100%;
}

#chats-area {
  height: max-content;
  padding: 10px;
  background-color: #f4f4f4;
  margin: auto;
  border-radius: 10px;
  margin-top: 30px;
}

#chats-list {
  margin: auto;
  padding: 0px;
}

#main-chats-list {
  margin: auto;
  padding: 0px;
}

.modal-content {
  padding: 30px;
}

#close {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

#closeModalAddUser {
  border: none;
  background-color: #ffffff00;
  position: absolute;
  right: 0;
  top: 3px;
  height: 30px;
}

#name {
  padding: 10px;
  border: none;
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 90%;
}

#addUser {
  position: relative;
  padding: 0;
  height: 42px;
  width: 42px;
}

#addUser img {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#searchMessage {
  position: relative;
  padding: 0;
  height: 42px;
  width: 42px;
}

#searchMessage img {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#getInfo {
  position: relative;
  padding: 0;
  height: 42px;
  width: 42px;
}

#getInfo img {
  position: absolute;
  height: 25px;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#writeName {
  margin-top: 10px;
}

#head-info-cont {
  display: flex;
  align-items: center;
}

#head-info-cont img {
  height: 30px;
  margin-right: 30px;
  width: auto;
}

#photo {
  display: flex;
  align-items: center;
}

#video {
  display: flex;
  align-items: center;
}

#file {
  display: flex;
  align-items: center;
}

#photo img {
  height: 30px;
  margin-right: 30px;
  width: auto;
}

#video img {
  height: 30px;
  margin-right: 30px;
  width: auto;
}

#file img {
  height: 30px;
  margin-right: 30px;
  width: auto;
}

#ul-people {
  padding: 0;
}

.person {
  display: flex;
  align-items: center;
}

.person img {
  height: 30px;
  width: auto;
  margin-right: 30px;
}

.settings-cont {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.settings-cont h3 {
  margin: auto;
}

#more {
  margin-right: 10%;
  height: 30px;
  width: 30px;
}

#more:hover {
  content: "";
  background-color: #2a0e5412;
  display: block;
  border-radius: 10px;
  height: 30px;
  width: 30px;
}

.closeModalGetInfo {
  height: 30px;
  width: 30px;
  right: 0;
}

.closeModalGetInfo img {
  width: 30px;
  height: auto;
}

.closeModalGetInfo:hover {
  content: "";
  background-color: #2a0e5412;
  display: block;
  border-radius: 10px;
}

#more img {
  width: 30px;
  height: auto;
  transform: rotate(90deg);
}

.btn {
  border-radius: 10px;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(233, 224, 229);
}

.btn:hover {
  background-color: rgb(239, 237, 244);
}

#getInfo {
  transform: rotate(90deg);
}

.form-control {
  padding: 10px;
  border: none;
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 90%;
}

#input-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#send {
  border: none;
  background-color: #f4f4f400;
  margin-left: 13px;
}

#attach {
  border: none;
  background-color: #f4f4f400;
}
